Slack Image Bot/gemini-image-bot.json
{
  "name": "gemini-image-bot",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7972193-96ca-4951-874d-5338880ddf8c",
              "name": "prompt",
              "value": "={{ $('Slack Trigger').item.json.text }}",
              "type": "string"
            },
            {
              "id": "19b68d76-d69d-4569-8cc1-c29bcc79982b",
              "name": "channel_id",
              "value": "={{ $('Slack Trigger').item.json.channel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -16
      ],
      "id": "d9eb9a82-72e6-4e2b-849a-19210d18f91f",
      "name": "Prompt Input"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/imagen-4.0-generate-001",
          "mode": "list",
          "cachedResultName": "models/imagen-4.0-generate-001"
        },
        "prompt": "={{ $json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        128,
        -16
      ],
      "id": "892ebef1-6256-42f6-a7af-8169a9ee7076",
      "name": "Generate Image",
      "credentials": {
        "googlePalmApi": {
          "id": "6W2wAB99Ivw7QXwN",
          "name": "Google Gemini(PaLM) Api email2argha"
        }
      }
    },
    {
      "parameters": {
        "url": "https://slack.com/api/files.getUploadURLExternal",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filename",
              "value": "=image.png"
            },
            {
              "name": "length",
              "value": "={{ $json.exact_size }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        512,
        -128
      ],
      "id": "22d32301-d637-44c8-9084-df0e8c97a360",
      "name": "Step 1: Get URL",
      "credentials": {
        "slackApi": {
          "id": "51mKS5UOTMbh9bNU",
          "name": "Slack Bot Gemini"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Merge').item.json.upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $('Merge').item.json.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        -32
      ],
      "id": "337f7af6-a0ae-4caa-af2d-8657075f2a4e",
      "name": "Step 2: Upload Binary"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        -32
      ],
      "id": "d38320f5-6eac-4ae3-b699-e5b7b4942e8f",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Prompt Input').item.json.channel_id }}\",\n  \"text\": \"Your image is ready!\",\n  \"blocks\": [\n    {\n      \"type\": \"image\",\n      \"title\": {\n        \"type\": \"plain_text\",\n        \"text\": \"Gemini AI Art\"\n      },\n      \"image_url\": \"{{ $('Step 3: Complete Upload').item.json.files[0].permalink }}\",\n      \"alt_text\": \"generated image\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        -32
      ],
      "id": "994e847b-87eb-479e-a73b-b195eaa5f0e2",
      "name": "Step 4: Notify Channel",
      "credentials": {
        "slackApi": {
          "id": "51mKS5UOTMbh9bNU",
          "name": "Slack Bot Gemini"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/files.completeUploadExternal",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"files\": [\n    {\n      \"id\": \"{{ $('Step 1: Get URL').item.json.file_id }}\",\n      \"title\": \"Generated by Gemini\"\n    }\n  ],\n  \"channel_id\": \"{{ $('Prompt Input').item.json.channel_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1136,
        -32
      ],
      "id": "ffa4e04d-0428-4d5a-8c7b-12dfefb482aa",
      "name": "Step 3: Complete Upload",
      "credentials": {
        "slackApi": {
          "id": "51mKS5UOTMbh9bNU",
          "name": "Slack Bot Gemini"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the Base64 string from the previous node\nconst base64 = items[0].binary.data.data;\n\n// Count padding characters (=) at the end\nlet padding = 0;\nif (base64.endsWith('==')) {\n  padding = 2;\n} else if (base64.endsWith('=')) {\n  padding = 1;\n}\n\n// Calculate exact size: (Length * 0.75) - Padding\nconst exactSize = (base64.length * 0.75) - padding;\n\nreturn {\n  json: {\n    exact_size: exactSize\n  },\n  // Pass the binary data through to the next node so it doesn't get lost\n  binary: items[0].binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -128
      ],
      "id": "3482fa1f-fc05-4a3a-8ec3-fb0cd650ad01",
      "name": "File Size Correction"
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0A4764F83A",
          "mode": "list",
          "cachedResultName": "testing-bot"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        0
      ],
      "id": "ff3a6ea7-0466-44e0-a950-a7a63ca1fb5e",
      "name": "Slack Trigger",
      "webhookId": "3608aebd-c209-415f-a46b-c73e437be2de",
      "credentials": {
        "slackApi": {
          "id": "51mKS5UOTMbh9bNU",
          "name": "Slack Bot Gemini"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e2d98b99-2ee0-4d5e-8d48-bec7774bad50",
              "leftValue": "={{ $json.output[0].content[0].text.trim().toUpperCase() }}",
              "rightValue": "GENERATE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -368,
        0
      ],
      "id": "5f5a5c5e-45e4-4d4b-b1f3-54cdee97cc1f",
      "name": "Image Generator Gate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Classify the following user message into exactly one of these two categories: \"GENERATE\" or \"CHAT\".\n\n- If the user is asking to create, draw, or generate an image, return: GENERATE\n- If the user is saying hello, asking a question, or talking about something else, return: CHAT\n\nUser Message: {{ $('Slack Trigger').item.json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -672,
        0
      ],
      "id": "f1287cec-26ea-4180-bafe-fb8b341e50f9",
      "name": "Prompt Validator",
      "credentials": {
        "openAiApi": {
          "id": "JowygiMoSY8l1sx0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Slack Trigger').item.json.channel }}\",\n  \"text\": \"👋 I am the Gemini Artist Bot! \\n\\nI can't chat, but if you describe an image, I will generate it for you. \\n*Try saying:* \\\"A futuristic city with flying cars.\\\"\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        240
      ],
      "id": "50f2d692-9497-4d2b-ba3a-a08a5aec5f3e",
      "name": "Reply to Chat",
      "credentials": {
        "slackApi": {
          "id": "51mKS5UOTMbh9bNU",
          "name": "Slack Bot Gemini"
        }
      }
    },
    {
      "parameters": {
        "content": "# 📌 Slack AI Image Generation Bot\n\n**Summary**\nAn end-to-end interactive bot that listens to Slack channels, classifies user intent (Chat vs. Image Generation), creates AI art using Gemini/Imagen, and handles the complex Slack v2 3-step binary upload process.\n\n**Key Features**\n* **Smart Gatekeeper:** Uses OpenAI `gpt-4o-mini` to distinguish between casual chat and image prompts.\n* **Precision Binary Handling:** Custom JS code to calculate exact byte size for Slack's strict v2 API validation.\n* **Slack v2 API Compliance:** Implements the full `getUploadURLExternal` → `upload` → `completeUploadExternal` handshake.\n* **Interactive Feedback:** Provides helpful error messages or usage guides for non-image requests.",
        "height": 272,
        "width": 1584,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        -688
      ],
      "typeVersion": 1,
      "id": "fccaa33f-8fb3-40c6-9ccd-2817512cfea9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🏷️ The \"Gatekeeper\" (Intent Classification)\n\n**Function**\n* **Trigger:** Listens for new messages in `#testing-bot` (ignoring bot messages to prevent loops).\n* **Analysis:** Sends user text to `gpt-4o-mini` with a system prompt to classify as `GENERATE` or `CHAT`.\n* **Routing:**\n    * **True (`GENERATE`):** Proceeds to the image generation pipeline.\n    * **False (`CHAT`):** Triggers a \"Reply to Chat\" node that guides the user on how to use the bot correctly.",
        "height": 832,
        "width": 784,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        -384
      ],
      "typeVersion": 1,
      "id": "c77ed9b3-31a2-44a5-9e5a-5c3ce04cbe10",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🏷️ Image Generation & Preparation\n\n**Function**\n* **Generation:** Uses the user's prompt to generate a PNG image via Google Gemini/Imagen.\n* **Binary Processing:**\n    * **Challenge:** Standard `fileSize` properties are often estimates.\n    * **Solution:** A custom Code Node calculates the *exact* byte size from the Base64 string (accounting for padding characters like `=`) to prevent \"File Corrupt\" errors in Slack.",
        "height": 832,
        "width": 576,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -384
      ],
      "typeVersion": 1,
      "id": "18da7fe8-ed7c-442b-b7cc-64bfa11c0f86",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 🏷️ The Slack v2 \"3-Step Handshake\"\n\n**Function**\n* **Step 1 (Authorize):** Requests a secure upload URL from Slack for a file of exactly *X* bytes (calculated previously).\n* **Step 2 (Upload):** Performs a raw `PUT` request to the secure Amazon S3 URL. Crucially sends *raw binary* without `multipart/form-data` wrappers.\n* **Step 3 (Commit):** Calls `files.completeUploadExternal` to tell Slack the file is ready and associates it with the specific Channel ID.",
        "height": 832,
        "width": 784,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -384
      ],
      "typeVersion": 1,
      "id": "91dbd3d5-c3d8-4873-a799-4dee822184ab",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 🏷️The \"Unfurl\" Notification\n\n**Function**\n* **Constraint:** Bot-uploaded files are private by default, and clicking the link usually fails for users.\n* **Solution:** Uses the `chat.postMessage` API with the `unfurl_links: true` parameter.\n* **Result:** By posting the private `permalink` as the file owner, Slack automatically \"unfurls\" (expands) the link into a visible image preview in the channel, bypassing the need for public link permissions.",
        "height": 832,
        "width": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        -384
      ],
      "typeVersion": 1,
      "id": "7cda6d1e-ab92-4dca-9570-3f5299d6dca8",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Prompt Input": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "File Size Correction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 1: Get URL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Step 2: Upload Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2: Upload Binary": {
      "main": [
        [
          {
            "node": "Step 3: Complete Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 3: Complete Upload": {
      "main": [
        [
          {
            "node": "Step 4: Notify Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Size Correction": {
      "main": [
        [
          {
            "node": "Step 1: Get URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Prompt Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generator Gate": {
      "main": [
        [
          {
            "node": "Prompt Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Validator": {
      "main": [
        [
          {
            "node": "Image Generator Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c06c71e-2b2a-4a3a-85ce-9bc14f70bc35",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "383e0e489d9e788cb88f29c387d7848bcbfea5313b7288130bf6c12473fe21bd"
  },
  "id": "pyZHPMtZEflEusGP",
  "tags": []
}